<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manan.enhancedurdureader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MainApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NewMagazineActivity" />
        <activity android:name=".Activities.NewArticleActivity" />
        <activity android:name=".Activities.ArticleReadingActivity" />
        <activity android:name=".Activities.ArticlePublishActivity" />
        <activity android:name=".Activities.SegmentedBookReaderActivity" />
        <activity android:name=".Activities.EpubReaderActivity"></activity>
        <activity android:name=".Activities.SalesforceDownloadActivity"></activity>
        <activity android:name=".Activities.SalesforceUploadActivity"></activity>
    </application>

</manifest>